/* Seccion Marcas */

.mainMarcas {

  .marcasBoton{
    display: flex;
    width: auto;
    justify-content: center;
    background-color: $colorBlanco;

    .marcasTitulo{
      display: flex;
      width: 100%;
      font-size: 26px;
      justify-content: center;
      background-color: $colorAmarillo;
    }
  }



}


