/* Banner */


.banner{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
}

.carousel-control-next-icon{
    background-color: $colorRojo;
}
.carousel-control-prev-icon{
    background-color: $colorRojo;
}






