/* PAGINA NOSOTROS*/


.nosotrosPage{
    text-align: justify;
    margin: 60px;
    

    h1{
      color: $colorRojo;
      text-align: center;
      margin: 30px;
    }

    h3{
      color: $colorRojo;
      margin-top: 20px;
    }





  
  }