$colorRojo: red;
$colorRojoClaro: rgb(243, 119, 119);
$colorBlanco: white;
$colorAmarillo: #FCE373;
$colorNegro: black;
$colorLilaPastel: #E9DCFF;
$colorCelestePastel: #A2D6E7;
$colorAzul: #0062cc;
$carousel-control-color: rgb(194, 5, 5);



//MAPA DE COLORES
$paletas:(
'colorRojo': red,
'colorRojoClaro': rgb(243, 119, 119),
'colorBlanco': white,
'colorAmarillo': #FCE373,
'colorNegro': black,
'colorLilaPastel': #E9DCFF,
'colorCelestePastel': #A2D6E7,
'colorAzul': #0062cc,
'colorBeige':beige,
);

//MAPA DE JUSTIFICADO
$justificado:(
'inicio': start,
'izquierda': left,
'centro': center,
'derecha': right,
'final': end,
'justificar': space-between,
);


